body {
  color: #777;
  letter-spacing: 3px;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
}
#icon {
  width: 200px;
  height: 200px;
  margin: 50px auto;
}
#bpm_calc_app table{
  margin: 20px auto;
}
#bpm_calc_app td {
  padding: 5px 20px;
  border: 1px solid #05FBFF;
}
#bpm_calc_app input[type="text"] {
  color: #777;
  letter-spacing: 3px;
  padding: 10px;
  border: 1px solid #05fbff;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
#bpm_calc_app .checkbox {
  cursor: pointer;
}
#bpm_calc_app .checkbox:hover {
  background: #05fbff !important;
  transition: all .3s;
}
#bpm_calc_app .done {
  background: #05fbff;
}
